<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jost:ital,wght@1,200&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+GB+S:ital@1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container leBlurIn">
        <header>
            <h1 class="header-title">Inventory Management System</h1>
            <div class="underline"></div>
        </header>
        <h2>
            {{message}}
        </h2>
          <div class="card-container">
            <div class="card">
              <div class="card-content">
                <img src="assets/images/Dashboard-pana.png" alt="Dashboard Illustration" />
                <p class="card-title">
                  Dashboard
                </p>
                <p class="card-description">
                  Your one-stop shop for pretending to manage everything, while the numbers do all the work.
                </p>
                <a class="card-button" href="/dashboard">Go to Dashboard</a>
              </div>
            </div>
        
            <div class="card">
              <div class="card-content">
                <img src="assets/images/Add-Item.png" alt="Items Illustration" />
                <p class="card-title">Add Items</p>
                <p class="card-description">Adding items made so easy, you'll wonder why your inventory wasn't full already just point, click, and <strong>voila</strong>!</p>
                <a class="card-button" href="/add-item">Go to Add Items</a>
              </div>
            </div>

            <div class="card">
              <div class="card-content">
                <img src="assets/images/List-Item.png" alt="Items Illustration" />
                <p class="card-title">Inventory</p>
                <p class="card-description">Want your inventory listed in no time? Just click and enjoy the magic of a fully organized catalog!</p>

                <a class="card-button" href="/list-item">Go to Inventory</a>
              </div>
            </div>

            <div class="card">
              <div class="card-content">
                <img src="assets/images/Categories.png" alt="Items Illustration" />
                <p class="card-title">Categories</p>
                <p class="card-description">Managing categories so simple, you’ll think you’re cheating—just point, click, and your inventory's ready to go!</p>
                <a class="card-button" href="/category">Go to Categories</a>
              </div>
            </div>

            <div class="card">
              <div class="card-content">
                <img src="assets/images/Supplier.jpg" alt="Items Illustration" />
                <p class="card-title">Suppliers And Vendors</p>
                <p class="card-description">Managing suppliers and vendors has never been this quick just click, and you're one step closer to a perfectly stocked inventory!</p>

                <a class="card-button" href="/suppliers">Go to Suppliers</a>
              </div>
            </div>

            <div class="card">
              <div class="card-content">
                <img src="assets/images/Sales.png" alt="Items Illustration" />
                <p class="card-title">Sales and Revenue</p>
                <p class="card-description">Tracking sales and revenue so simple, it feels like printing money—just click, and the numbers are yours!</p>

                <a class="card-button" href="/sales ">Go to Sales and Revenue</a>
              </div>
            </div>
        
          </div>
        </div>            
</body>
</html>
